### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

In [8]:
name = "Junaid Bin Zulfiqar"
name

'Junaid Bin Zulfiqar'

Create two variables, x and y, and swap their values without using a third variable.

In [17]:
x = 1
y = 2

x, y = y, x

print("x:",x, "y:",y)

x: 2 y: 1

Calculate the area of a rectangle with length and width stored in variables.

In [28]:
L= 5
W= 4
Area = L * W
print ("Area: ",Area)

Area:  20

Create a variable with a long string (multi-line) and print its length.

In [31]:
Var1 = """My name is Junaid , 
          Age 24
        University of Punjab"""
len(Var1)

66

Create a variable to store your favorite number and print it.

In [32]:
x = 23
x

23

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [37]:
side1 = 2
side2 = 3
side3 = 5

Perimeter = side1+side2+side3

print ("Perimeter: ",Perimeter)

Perimeter:  10

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

In [40]:
Price_of_milk = 100
Quantity_of_milk = 5 
Total_Cost =   Price_of_milk * Quantity_of_milk
print("Cost of milk: ",Total_Cost)

Cost of milk:  500

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [41]:
pie = 3.14
rad = 5
circumference = 2 * (pie * rad)
print("circumference is: ",circumference)

circumference is:  31.400000000000002

Calculate the sum of two numbers, a and b.

In [42]:
a = 2
b = 2

sum = a + b

print ("Sum :", sum)

Sum : 4

Calculate the product of two numbers, a and b.

In [43]:
a = 2
b = 2

product = a * b

print ("Product :", product)

Product : 4

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [53]:
a = 10
b = 0

if b!= 0 :
    Div = a/b
    print ("Division: ", Div)

else :
    print("Divsion by zero is not applicable")

Divsion by zero is not applicable

Calculate the square of a number x.

In [60]:
x = 5
square = x**2
square

25

Calculate the remainder when a is divided by b.

In [65]:
a = 123 
b = 5

reminder = a%b
print ("Reminder is: ",reminder)

Reminder is:  3

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [66]:
a= 17
b= 3

Quotient =  a/b
Reminder =  a%b

print("Quotient is :", Quotient, "Reminder is: ",Reminder)

Quotient is : 5.666666666666667 Reminder is:  2

Calculate the area of a square with a given side length.

In [67]:
side = 4

Area = side*4

Area

16

Calculate the average of five numbers.

In [69]:
n1 = 1
n2 = 2
n3 = 3
n4 = 4
n5 = 5

avg = n1+n2+n3+n4+n5/5
avg

11.0

Create a variable with a boolean value and print its opposite value.

In [79]:
x = True
print("Opposite value of x is: ",x == -1)

Opposite value of x is:  False

Store your birth year in a variable and calculate your age.

In [81]:
my_birthyear = 2000
current_year = 2023

age = (current_year - my_birthyear)
age

23

Create a variable with an integer and convert it to a float.

In [82]:
a = 5
type(a), a

int

In [86]:
b = float(a)
type(b), b

(float, 5.0)

Create a variable with a float and convert it to an integer.

In [88]:
c = 5.4
d = int(c)
type(d), d

(int, 5)

Create a variable with a string that represents an integer and convert it to an integer.

In [90]:
string = "5"
integer = int(string)
type(integer), integer

(int, 5)

Create a variable with a string that represents a float and convert it to a float.

In [92]:
string = "5.4"
float_num = float(string)
type(float_num), float_num

(float, 5.4)

Create a variable with a number and convert it to a string.

In [93]:
a = 544
string = str(a)
type(string), string

(str, '544')

Calculate the absolute value of a number.

In [97]:
n = -8
absolute = abs(n)
print("absolute value : ",absolute)

absolute value :  8

Calculate the square root of a number.

In [103]:
n = 255
sqr = n**0.5
print("square root value : ",sqr)

square root value :  15.968719422671311

Calculate the value of a raised to the power of b.

In [105]:
a = 10
b = 2
value = a**b
print("Value of a raised to power b is :",value)

Value of a raised to power b is : 100

Round a float to the nearest integer.

In [106]:
f = 5.456757

value = round(f)

value

5

Combine multiple conditions using logical operators and print the result.

In [112]:
x = 8
y = 5

z1 = ((x>=6) and (x/y))
z2 = ((x<=5) and (x/y))
z3 = ((x >8) or (x + y))
z4 = (not x)

print(z1)
print(z2)
print(z3)
print(z4)

1.6
False
13
False

Generate a random number between 1 and 100.**(challenging)**

In [133]:
import random
x = random.randint(1,100)
x

97